*{
   background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
   
}
body{
    background-image: linear-gradient(white,rgb(123, 251, 255));
}
button{
    height: 50px;
    width: 100px;
    background-image: linear-gradient(white , rgb(173, 173, 255));
    transform: skew(8deg);
    border: 2px solid blueviolet;
}
button:hover{
    height: 50px;
    width: 100px;
    transition: 0.5s;
    background-image: linear-gradient(white , rgb(99, 99, 255));
    
}
button a{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
    background-color: transparent;
 
}
#maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: rgb(0, 0, 0);
}
.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
   
}
