*{
   background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    height: 50px;
    width: 100px;
    background-color: yellow;
    color: green;
    transform: skew(8deg);
}
button:hover{
    height: 50px;
    width: 100px;
    background-color: rgb(255, 255, 187);
    color: red;
    transition: 0.5s;
    
}
button a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    background-color: yellowgreen;
 
}
#maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}