*{
   background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    height: 50px;
    width: 100px;
    background-color: yellow;
    color: green;
}
button a{
    color: rgb(226, 0, 0);
    font-weight: bold;
 
}
#maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}