*{
    background-image: url(https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    height: 50px;
    width: 100px;
}
button a{
    color: red;
    font-weight: bold;
 
}
#maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
  

}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
}